<div>
  <nav>
    <h1>Proyecto Backend NP</h1>
      <div class='nav-buttons'>
        <button class="nav-button"><a href="/products" id="viewCart" style="color: white"> PRODUCTS </a></button>
        <button id="logoutBtn"> LOGOUT </button>
      </div>
  </nav>
  <div class='cart-container'>
  <h2> Carrito de compras:</h2>
  {{#if cart.products.length }}
    <table class='cart-list'>
      <thead>
        <tr class='cart-title-row'>
          <th>PRODUCTO</th>
          <th>PRECIO</th>
          <th>CANTIDAD</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each cart.products}}
          <tr class= 'cart-item-row'>
            <td>{{this.product.title}}</td>
            <td>$ {{this.product.price}}</td>
            <td>{{this.quantity}} </td>
            <td>
              <button 
                onclick="deleteItem('{{../cart._id}}', '{{this.product._id}}')"> 
                  DELETE PRODUCT 
              </button>
              <button 
                onclick="plusItem('{{../cart._id}}', '{{this.product._id}}', '{{this.product.title}}')"> 
                  + 
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <div class='cart-bottom-container'>
      <button onclick="emptyCart('{{cart._id}}')"> EMPTY CART </button>
      <button onclick="purchaseCart('{{cart._id}}')"> COMPRAR </button>
    </div>
  {{else}}
    <p>NO HAY PRODUCTOS EN EL CARRITO</p>
  {{/if}}
  </div>

  {{#if tickets.length }}
    <div class='ticket-container'>
      <h2>Mis compras:</h2>
      <table class='ticket-list'>
        <thead>
          <tr class='ticket-title-row'>
            <th>CÓDIGO</th>
            <th>MONTO</th>
            <th>FECHA DE COMPRA</th>
          </tr>
        </thead>
        <tbody>
          {{#each tickets }}
            <tr class= 'ticket-item-row'>
              <td>#{{this.code}}</td>
              <td>$ {{this.amount}}</td>
              <td>{{this.purchase_datetime}} </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
  
</div>

<script src="/js/carts.js"></script>
<script src="/js/logout.js"></script>
