<div>
  <nav>
    <h1>Proyecto Backend NP</h1>
    {{#if user}}
      <div class='nav-buttons'>
      {{#isClient user.role}}
        <button class="nav-button">
          <a href="/carts/{{../user.cartId}}" style="color: white"> CART </a>
        </button>
      {{/isClient}}
      {{#isBasic user.role}}
        <button class="nav-button">
          <a href='/premium' style="color: white"> PREMIUM </a>
        </button>
      {{/isBasic}}
      {{#isAdmin user.role}}
        <button class="nav-button">
          <a href="/users" style="color: white"> USERS </a>
        </button>
      {{/isAdmin}}
        <button id="logoutBtn"> LOGOUT </button>
      </div>
    {{/if}}
  </nav>

  {{#if user}}
    <div class='user-container'>
      <div class='profile-pic-container'>
        <label for='profile-pic-input' style="cursor: pointer">
          <img src="{{hasProfilePic user.documents}}" id="profile-pic-img"/ >
          <input type='file' id='profile-pic-input' name='profile-pic' data-email={{user.email}} style="display: none; visibility: none" accept="image/jpeg, image/jpg, image/png"/>
        </label>
      </div>
      <div class='profile-info-container'>
        <h2>USUARIO: {{user.name}}</h2>
        <div class="welcome-user">
          <ul>
            <li>EDAD: {{user.age}} años</li>
            <li>EMAIL: {{user.email}}</li>
            <li>ROL: {{user.role}}</li>
          </ul>
          {{#isClient user.role}}
          <button onclick="sendRestorePassword('{{../user.email}}')"> Reestablecer Contraseña </button>
          {{/isClient}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#isCreator user.role}}
    <div class="upload-container">
      <h2>Agrega un nuevo producto:</h2>
      <br/>
      <form id="productForm" class="user-form">
        <label>Nombre del producto:</label>
        <input name="title">
        <br/>
        <label>Categoría:</label>
        <input name="category">
        <br/>
        <label>Descripción:</label>
        <input name="description">
        <br/>
        <label>Precio:</label>
        <input name="price" type="number">
        <br/>
        <label>Thumbnail:</label>
        <input name="thumbnail" placeholder="Inserte el URL de la imagen">
        <br/>
        <label>Código:</label>
        <input name="code" type="number">
        <br/>
        <label>Stock:</label>
        <input name="stock" type="number">
        <br/>
        {{#isPremium ../user.role}}
          <input name="owner" type="text" value="{{../user.email}}" style="display: none">
        {{/isPremium}}
        <div class="send">
          <input type="submit">
        </div>
      </form>
    </div>
  {{/isCreator}}

  {{#isClient user.role}}
    <div class="chat-container">
      <h2>Bienvenido al chat!</h2>
        <form id="chat-form" title='{{../user.email}}'>
          <input type="text" placeholder="Escriba su mensaje aquí" id="chat-box">
          <input type="submit">
        </form>
        <div>
          <p id="chat-logs"></p>
        </div>
    </div>
  {{/isClient}}

  <h2>List of Books from MongoDB:</h2>
  <section id='products-container'>
    {{#each products.docs}}
        <div id={{this.code}} class='product-card'>
          <h3>{{this.title}}</h3>
          <div class='product-img'>
            <img src={{this.thumbnail}}/>
          </div>
          <ul>
              <li>$ {{this.price}}</li>
              <li>Stock: {{this.stock}}</li>
          </ul>
          {{#isOwner ../user.email this.owner}}
            <button>DELETE</button>
          {{else}}
            {{#isAdmin ../../user.role }}
              <div class='admin-buttons'>
                <button
                  onclick="deleteProduct('{{../this.id}}', '{{../this.title}}', '{{../this.owner}}')">
                  DELETE
                </button>
                <button
                  onclick="updateProduct('{{../this.id}}')">
                  UPDATE
                </button>
              </div>
            {{else}}
            <button 
              onclick="addItem('{{../../user.cartId}}', '{{../this._id}}', '{{../this.title}}')"> 
              ADD TO CART
            </button>
            {{/isAdmin}}
          {{/isOwner}}
        </div>
    {{/each}}
  </div>
</section>
<br/>
<div>
  {{#if products.hasPrevPage}}
    <a href={{products.prevLink}}><< Anterior</a>
  {{/if}}
  &nbsp;
  {{products.page}}
  &nbsp;
    {{#if products.hasNextPage}}
    <a href={{products.nextLink}}>Siguiente >></a>
  {{/if}} 
</div>

<script src='/socket.io/socket.io.js'></script>
<script src="/js/carts.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/uploadProduct.js"></script>
<script src="/js/messages.js"></script>
<script src="/js/users.js"></script>
<script src="/js/uploadProfilePic.js"></script>
<script src="/js/products.js"></script>
