<div>
    <h1>¡Bienvenid@ {{user.name}}!</h1>
  <div>
    <ul>
      <li>EDAD: {{user.age}}</li>
      <li>EMAIL: {{user.email}}</li>
      <li>ROL: {{user.role}}</li>
    </ul>
    <button id="logoutBtn"> LOG OUT </button>
    {{!-- <form method="GET" action='/api/sessions/logout'>
      <button type='submit'>LOG OUT</a></button>
    </form> --}}
  </div>
    
    <h2>List of Books from MongoDB:</h2>
    <div>
      {{#each products.docs}}
          <div>
            <p>- {{this.title}}</p>
            <ul>
              <li>$ {{this.price}}</li>
              <li>{{this.description}}</li>
              <li>Stock: {{this.stock}}</li>
            </ul>
          </div>
          <form method="POST" action='/api/carts/644719782d361234c0565bf5/products/{{this._id}}'>
            <button type='submit'> + CART </button>
          </form>
      {{/each}}
    </div>
</div>
<br/>
<div>
  {{#if products.hasPrevPage}}
    <a href={{products.prevLink}}><< Anterior</a>
  {{/if}}
  &nbsp;
  {{products.page}}
  &nbsp;
    {{#if products.hasNextPage}}
    <a href={{products.nextLink}}>Siguiente >></a>
  {{/if}} 
</div>

<script src="/js/logout.js"></script>

